*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
/*
1. từ ngoài vào trong
2. từ trên xuống dưới 
3. tổng quan đến chi tiết
 */

/*
1.vị trí
2. kích thước
3. màu sắc
4. kiểu dáng(chữ, tròn, vuông...)

 */

 /* Common */
.clear{
    clear: both; /* khi dùng float để tạo khoảng trống so với Tour ở dưới*/
}
.text-while{
    color: #fff !important;
}
.text-center{
    text-align: center !important;
}
.mt-8{
    margin-top: 8px !important;
}
.mt-16{
    margin-top: 16px !important;
}
.mt-32{
    margin-top: 32px !important;
}
.pull-right{
    float: right;
}
.btn{
    color: #fff;
    background-color: black;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block; /*giúp cho nút Buy tickets k bị đè lên dòng trên*/
    margin-top: 15px;
    font-size: 15px;
    border: none;
    appearance: none;
    -webkit-appearance: none;
}
.btn:hover{
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}

.row{
    margin-left: -8px;
    margin-right: -8px;
}
.row::after {
    content: "";
    display: block;
    clear: both;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-third{
    width: 33.33333%;
}
.col-half{
    width: 50%;
}
.col-full{
    width: 100%;
}
/* Main */
#main{

}

#header{
    height: 46px;
    background-color: #000;
    /* cho nó ko bị mất khi lăn bi chuột */
    position: fixed;
    /* cho nó bám dính bên trên, và căng ngang left right */
    top: 0;
    left: 0;
    right: 0;
    /* thằng header đang nổi lên trên thằng slider */
    z-index: 1;
}
#nav{
/* ul có tính chất block, nên nó sẽ chiếm hết chiều ngang của thẻ cha chứa nó */
/* Nội dung đến đâu thì dài đến đó thôi . Tức từ thằng Home ==> More mà thôi */
    display: inline-block;
}
#nav , .subnav{
    list-style: none;
}
#nav > li{
    display: inline-block;
    /* thiếu cái này thì home band contact more sẽ biến thành hàng dọc */
}
#nav li{ 
    position: relative;
}

#nav > li > a{
    color: #fff;
    text-transform: uppercase;
} 
#nav li a{
    text-decoration: none; 
    line-height: 46px;
    padding: 0 24px;
    display: block;
}
#nav li:hover .subnav{
    display: block; 
    /* thiếu cái này thì khi di chuột đến more nó sẽ k hiện ra các
    phần trong more */
}
#nav li:hover > a{
    color: #000;
    background-color: #ccc;
}

#nav .subnav{
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    top: 100%;
    left: 0%;
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}
#nav .nav-arrow-down{
    font-size: 12px;
}
#header .mobile-menu-btn{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .mobile-menu-btn ,
#header .search-btn{
/* Thằng này là vùng không gian xung quanh icon
Nó có màu đỏ khi di chuột vào */
    float: right;
    padding: 0 21px;
    
}

#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
}
#header .mobile-menu-btn:hover{
    background-color: #ccc;
}
#header .mobile-menu-btn:hover .menu-icon{
    color: #000;
}
#header .menu-icon,
#header .search-icon{
/* thằng này chính là cái icon kính lúp */
    color:#fff;
    font-size: 20px;
    line-height: 46px;
}
#slider{
    margin-top: 46px;
    padding-top: 50%;
    background: url('../img/slider/silder1.jpg') top center / cover no-repeat;
    position: relative;
}

#slider .text-content{
    position: absolute;
    bottom: 47px;
    color: #fff;
    width: 100%;
    text-align: center;
}

#slider .text-heading{
    font-weight: 500;
    /* giảm độ dày của chữ */
    font-size: 24px;
}

#slider .text-description{
    font-size: 15px;
    margin-top: 25px;
}
#content{

}
#content .content-section{
    width: 800px;
    width: 100%;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}
#content .section-heading{
    font-size: 30px;
    text-align: center;
    /* căn giữa */
    font-weight: 500;
    letter-spacing: 4px;
    /* khoảng cách giữa các chữ */
}
#content .section-sub-heading{
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic; /* chữ nghiêng*/
    opacity: 0.6; /* mờ chữ*/
    
}
#content .about-text{
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;/*căn đều 2 bên đoạn text*/
    line-height: 1.4;
}
#content .member-list{
    padding-top: 32px;
}
#content .member-name{
    font-size: 15px;
    margin-top: 15px;
}
#content .member-img{
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;/*bo góc ảnh*/
}

/*Tour section*/
.tour-section{
    background-color: #000;
}
.tickets-list{
    background-color: #fff;
    margin-top: 40px;
}
.tickets-list li{
    list-style: none; /*xóa các dấu chấm bên trái các li*/
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd; /* tạo dòng kẻ dưới ngăn các giữa các dòng*/

}
.tickets-list .sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}
.tickets-list .quantity{
    float: right; /* đẩy số 3 sang bên phải*/
    width: 24px;
    height: 24px;
    background-color: black;
    color: white;
    border-radius: 50%;
    text-align: center;
    list-style: 24px;
    margin-top: -2px;
}
/* Places */
.places-list{
    margin-top: 16px;
}
.place-img{
    width: 100%;
    display: block;
}
.place-img:hover{
    opacity: 0.6;
}
.place-body{
    padding: 16px;
    font-size: 15px;
    background-color: white;
}
.place-heading{
    font-size: 15px;
    font-weight: 600;

}
.place-time{
    padding-top: 15px;
    color: #757575;
}
.place-desc{
    padding-top: 15px;
    line-height: 1.4;
}
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    display: none; /*làm cho modal-container nằm giữa modal cha*/
    align-items: center; /*nằm giữa chiều cao thằng modal cha*/
    justify-content: center; /*nằm giữa chiều ngang thằng modal cha*/
}
.modal.open{
    display: flex;
}
.modal-container{
    background-color: #fff;
    width: 900px;
    min-height: 200px;
    max-width: calc(100% - 32px);
    position: relative;
    animation: modalFaceIn ease .4s;
}

.modal-header {
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
}
.modal-heading-icon{
    margin-right: 16px;
}
.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}
.modal-close:hover {
    opacity: 1;
    background-color: #ccc;
}
.modal-body {
    padding: 16px;
}
.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}
.modal-input{
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}
.buy-tickets {
    background-color: #009688;
    width: 100%;
    border: none;
    font-size: 15px;
    color: white;
    text-transform: uppercase;
    padding: 18px;
    cursor: pointer;
}
.buy-tickets:hover {
    background-color: #ccc;
    color: black    ;
}
.modal-footer{
    text-align: right;
    padding: 16px;
}
.modal-footer a{
    color: #009688;
}
@keyframes modalFaceIn {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }
    to { 
        opacity: 1;
        transform: translateY(0px);
    }
}
/* contact form */
.contact-content{
    margin-top: 47px;
}
.contact-info{
    font-size: 18px;
    line-height: 1.5;
}
.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}
.contact-info a{
    color: #101aef;
    opacity: 0.8;
}
.contact-info a:hover{
    opacity: 1;
}
.contact-form{
    font-size: 15px;
}
.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}
/* Map section */
.map-section img {
    width: 100%;
    filter: grayscale(50%);
}
#footer{
    padding: 64px 16px;
    text-align: center;
}
#footer .socials-list{
    font-size: 24px;
}
#footer .socials-list a {
    color: rgba(0,0,0,0.6);
    text-decoration: none;
}
#footer .copyright a:hover ,
#footer .socials-list a:hover{
    color: rgba(0,0,0,0.4);
}
#footer .copyright{
    font-size: 15px;
    padding-top: 15px;
    color: rgba(0,0,0,0.6);
}
#footer .copyright a{
    color: rgba(0,0,0,0.6);
}
